@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:hover {
  opacity: 0.5;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

body {
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  overflow: hidden;
}

.main_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard_container {
  height: 100%;
  width: 25%;
  background: rgb(122, 130, 243);
  background: radial-gradient(
    circle,
    rgba(122, 130, 243, 1) 2%,
    rgba(163, 138, 255, 1) 98%
  );
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.call_container {
  width: 50%;
  /* height: 100%; */
}

.messenger_container {
  width: 25%;
  /* height: 100%; */
  background: #f4f9fd;
  display: flex;
  flex-direction: column;
}

.logo_container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo_container img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.logo_container h2 {
  font-family: 'Bungee Shade', cursive;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin: 0;
}

/* .description_container {
  margin: 0 40px; 
} */

.description_container_paragraph {
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-align: center;
}

.personal_code_container {
  background: rgba(196, 196, 196, 0.2);
  /* backdrop-filter: blur(80px); */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.personal_code_title_container {
  padding: 0 25px;
}

.personal_code_title_paragraph {
  font-size: 16px;
  font-weight: 500;
}

.personal_code_value_container {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
  align-items: center;
}

.personal_code_value_paragraph {
  font-size: 18px;
  font-weight: 700;
}

.personal_code_copy_button {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #757ae2;
  color: #fff;
  font-family: inherit;
  transition: 0.5s;
}

.personal_code_connecting_container {
  display: flex;
  flex-direction: column;
}

.personal_code_connecting_paragraph {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.personal_code_connecting_input_container {
  width: 100%;
  height: 40px;
}

.personal_code_connecting_input input {
  font-family: 'Nunito', sans-serif;
}

.personal_code_input:focus {
  outline: 1px solid #fff;
}

.personal_code_input {
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.2);
  /* backdrop-filter: blur(80px); */
  border-radius: 8px;
  border: none;
  color: white;
}

.personal_code_connecting_buttons_container {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.connecting_button {
  width: calc(70% - 10px);
  height: 55px;
  width: 100px;
  margin: 0 20px;
  padding: 0 20px;
  background: #757ae2;
  color: #fff;
  font-family: inherit;
  font-weight: 600;
  border-radius: 15px;
  transition: 0.5s;
}

#personal_code_chat_button,
#stranger_chat_button {
  color: #e4f35f;
}

#personal_code_video_button,
#stranger_video_button {
  color: #8bf79d;
}

.stranger_connecting_container {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}

.stranger_title_container {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.stranger_buttons_container {
  display: flex;
  justify-content: space-between;
}

#stranger_chat_button,
#stranger_video_button {
  background: #ee5d94;
}

.checkbox_container {
  display: flex;
  margin: 0 40px;
  margin-bottom: 25px;
  align-items: center;
}

.checkbox_connection {
  width: 30px;
  height: 30px;
  background: rgba(196, 196, 196, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  /* backdrop-filter: blur(80px); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox_container_paragraph {
  font-weight: 500;
  font-size: 16px;
  margin-left: 15px;
}

.connecting_buttons_image {
  max-width: 100%;
  max-height: 100%;
}

.new_message_container {
  position: relative;
}
.new_message_input {
  margin: 0 40px;
  margin-bottom: 30px;
  width: calc(100% - 80px);
  height: 60px;
  color: #676f7a;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #d5deeb;
  border-radius: 15px;
  box-shadow: 0px 2px 20px 5px rgba(10, 145, 219, 0.05);
  padding: 0 60px 0 20px;
  z-index: 2;
}

.new_message_input:focus {
  outline: none;
  color: #676f7a;
}

.messages_container {
  flex-grow: 1;
  margin: 40px 30px;
  overflow-y: scroll;
}

.message_left_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message_left_paragraph {
  background: #ffffff;
  border: 1px solid #d5deeb;
  border-radius: 8px 8px 8px 0px;
  padding: 20px 13px;
  color: #545c68;
  min-width: 60px;
}

.message_right_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message_right_paragraph {
  background: linear-gradient(168.68deg, #0052c9 1.12%, #0a91db 100%);
  border: 1px solid #d5deeb;
  border-radius: 8px 8px 8px 0px;
  padding: 20px 13px;
  color: #ffffff;
  min-width: 60px;
}

.send_message_button {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50px;
  top: 10px;
  box-shadow: 0px 2px 20px 5px rgba(10, 145, 219, 0.05);
  background: linear-gradient(180deg, #ff9519 0%, #ffba6a 100%);
  border-radius: 8px;
  transition: 0.5s;
}

.send_message_button_image {
  max-width: 100%;
  max-height: 100%;
}

.videos_container {
  position: relative;
  height: calc(100% - 70px);
  margin: 30px 40px 40px 40px;
  border-radius: 15px;
  background: linear-gradient(168.68deg, #0052c9 1.12%, #0a91db 100%);
  /* background-image: url('../utils/images/logo.png'); */
}

.videos_placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.local_video_container {
  position: absolute;
  width: 180px;
  height: 180px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  background: rgba(196, 196, 196, 0.2);
  top: 15px;
  left: 15px;
}

.local_video {
  width: 100%;
  height: 100%;
}

.remote_video {
  width: 100%;
  height: 100%;
}

.call_buttons_container {
  position: absolute;
  width: 395px;
  height: 75px;
  bottom: 40px;
  left: calc(50% - 200px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.finish_chat_button_container {
  position: absolute;
  width: 395px;
  height: 75px;
  bottom: 40px;
  left: calc(50% - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.call_button_small {
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  transition: 0.3s;
}

.call_button_large {
  width: 75px;
  height: 75px;
  border-radius: 75px;
  background: #fc5d5b;
  transition: 0.3s;
}

.dialog_wrapper {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  /* backdrop-filter: blur(30px); */
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
}

.dialog_content {
  width: 520px;
  height: 530px;
  background: white;
  border: 1px solid #d5deeb;
  box-shadow: 0px 2px 20px 5px rgba(10, 145, 219, 0.05);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.dialog_title {
  font-weight: 600;
  font-size: 22px;
  color: black;
}

.dialog_image_container {
  width: 275px;
  height: 275px;
  border-radius: 275px;
  background: linear-gradient(168.68deg, #0052c9 1.12%, #0a91db 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog_description {
  font-size: 20px;
  color: black;
  font-weight: 500;
  padding: 0 40px;
}

.dialog_button_container {
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.dialog_accept_call_button {
  width: 180px;
  height: 55px;
  background: linear-gradient(180deg, #00c920 0%, #2fe24b 100%);
  box-shadow: 0px 2px 42px 10px rgba(47, 226, 75, 0.15);
  border-radius: 15px;
  transition: 0.5s;
}

.dialog_reject_call_button {
  width: 180px;
  height: 55px;
  background: linear-gradient(180deg, #ff3b3b 0%, #ff6262 100%);
  box-shadow: 0px 2px 42px 10px rgba(255, 59, 59, 0.15);
  border-radius: 15px;
  transition: 0.5s;
}

.dialog_button_image {
  max-width: 100%;
  max-height: 100%;
}

.dashboard_blur {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(196, 196, 196, 0.2);
  /* backdrop-filter: blur(80px); */
}

.video_recording_buttons_container {
  position: absolute;
  width: 180px;
  height: 50px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  /* backdrop-filter: blur(60px); */
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#stop_recording_button {
  color: white;
  height: 28px;
}

.display_none {
  display: none;
}
